// List views
@import './list.scss';

.b-dropdown {
  .btn {
    border-radius: 99px;
  }
}

.identicon {
  &:hover {
    cursor: pointer;
  }
}

.dropdown-item {
  &:active {
    background: darken(#eaedf3, 2%);
    color: #5531A9;
  }
}

.headline {
  font-size: 23px;
  font-weight: 600;
  
  a {
    background: linear-gradient(90deg, #a93185, #5531a9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $primary2;
  }

  & + * {
    margin-top: 5px;
  }
}

.table-cell {
  .identicon,
  .eth-identicon {
    $size: 17px;

    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;
    max-width: $size;
    max-height: $size;
    border-radius: 50%;
    margin-right: 4px;
    margin-left: -5px;
    overflow: hidden;

    svg {
      width: $size;
      height: $size;
    }
  }
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background: darken(#eaedf3, 5%);
}

::-webkit-scrollbar-thumb:vertical {
  background: linear-gradient(180deg, #a93185, #5531a9);
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: linear-gradient(90deg, #a93185, #5531a9);
}

::-webkit-scrollbar-thumb:horizontal:active {
  background: linear-gradient(90deg, darken(#a93185, 5%), darken(#5531a9, 5%));
}

::-webkit-scrollbar-thumb:vertical:active {
  background: linear-gradient(180deg, darken(#a93185, 5%), darken(#5531a9, 5%));
}

@media only screen and (max-width: 576px) {
  ::-webkit-scrollbar {
    display: none;
  }
}